/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
}




/* nav related style */

nav {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    height: 850px;
   
}

.banner{
    
    height: 850px;

}  

.banner-head{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    

}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 5px;
    

}

div{
    margin: 50px 400px 200px 240px;

}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    padding: 20px 43px 20px 43px;
    border: none;

}
#flower{
    margin: 50px 240px 0px 97px;


}



.body-tittle{
   
     height: 4867px;
     text-align: center;
}

.body-header{
    color: #272727;
   font-size: 60px;
   font-weight: 800;
   margin-top:100px;
   

}
.body-description{
    color: rgba(39, 39, 39, 0.60);
    
    font-size: 25px; 
    font-weight: 400;
    margin-bottom: 1px;
    
}

.body-header , .body-description{
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    

   
    
}
.advanced{
    background: #FFF;
    display:flex;
    justify-content: center;
    
    height: 800px;



}
.first{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
    margin: 1px 0px 10px 0px;
}
.second{
     border-radius: 300px 300px 0px 0px;
     background: rgba(5, 151, 160, 0.15);
     padding: 117px 47px 51px 47px;
     margin: 1px 24px 10px 24px;
     
}
.third{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);  
    padding: 67px 75px 0px 75px;
    margin: 1px 0px 10px 0px;

    

}
.first-text , .second-text , .third-text {
    color: #272727;
    text-align: center;

    font-size: 24px;

    font-weight: 700;
    margin-top: 0px;
    text-decoration-line: underline;
}

.services{
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: center;
    margin-top: 100px;
    margin-left: 700px;
    margin-right: 700px;
}
.first-service p , .second-service p , .third-service p{
    text-align: center;
    margin-right: 10px;
}

.offer{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 620px;

}
.offer-2{
    margin: 100px 400px 342px 600px;
}
.offer-pic{
    margin: 100px 650px 100px 200px;
    width: 318px;
    height: 420px;
}
.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 2px;
    

}
.offer-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    
    

}
.off{
    color: #E55473;
}
.insta {
    text-align: center;
    margin-top: 80px;
}
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    
    height: 48px;
    

}
.insta-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-top: 80px;
}
.flow{
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
    gap:24px;
    margin-top: 100px;
    justify-content: center;
}
.last{
    border-radius: 8px;

    background-image: url('Rectangle\ 9.png');
    text-align:  center;
    margin-top: 150px;
    padding-top: 6px;
    background-position: center;
    background-repeat: no-repeat;
    height: 449px;
    /* width: 1440px; */
    
    
    
}
/* .last-title{
    color: #272727;
   text-align: center;
   font-size: 40px;
   font-weight: 800;
   background-position: 50%;
   padding: 100px 50px 5px 200px;


}
.last-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 500px 20px 610px;

} */
.last-input {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 23px 200px 22px 22px;
    border: none;
    margin-bottom: 100px;

}

.footer {
    background: #111010;
    color: white;
    text-align: center;
    /* width: 3000px; */
    height: 500px;

    
}
.footer-title {
    
    font-size: 70px;
    font-weight: 800;
    padding:100px 800px 0px 829px;
    text-align: center;
    margin-bottom: 5px;
    
    

}
.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    
    

}
.footer-end
{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}